<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
  <label for="my-drawer" class="rounded-lg drawer-button">
    <svg class="xl:ml-desktop lg:ml-laptop md:ml-tablet ml-mobile mt-5" width="24" height="24" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.07056 3.77466H21.3831C21.8146 3.77466 22.1643 3.4249 22.1643 2.99341V1.04028C22.1643 0.608789 21.8146 0.259033 21.3831 0.259033H1.07056C0.639062 0.259033 0.289307 0.608789 0.289307 1.04028V2.99341C0.289307 3.4249 0.639062 3.77466 1.07056 3.77466ZM1.07056 11.5872H21.3831C21.8146 11.5872 22.1643 11.2374 22.1643 10.8059V8.85278C22.1643 8.42129 21.8146 8.07153 21.3831 8.07153H1.07056C0.639062 8.07153 0.289307 8.42129 0.289307 8.85278V10.8059C0.289307 11.2374 0.639062 11.5872 1.07056 11.5872ZM1.07056 19.3997H21.3831C21.8146 19.3997 22.1643 19.0499 22.1643 18.6184V16.6653C22.1643 16.2338 21.8146 15.884 21.3831 15.884H1.07056C0.639062 15.884 0.289307 16.2338 0.289307 16.6653V18.6184C0.289307 19.0499 0.639062 19.3997 1.07056 19.3997Z" fill="black"/>
    </svg>  
  </label>