<footer class="bg-white mt-auto">
    <div class="bg-black xl:p-desktop lg:p-laptop md:p-tablet p-mobile">
        <div class="md:flex md:justify-between">
            <div class="md:mt-0 mt-3 mb-10 md:mb-0">
                <a href="/" class="flex lg:justify-start justify-center">
                    <img src="/logo-white.webp" class="mr-3 lg:w-64 w-48" alt="AttualityStore Logo" />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 lg:gap-12 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">Informazioni aziendali</h2>
                    <ul class=" text-gray-400">
                        <li class="mb-3">
                            <a href="/info/attuality-store" class="hover:underline">Attuality Store</a>
                        </li>
                        <li class="mb-3">
                            <a href="/info/privacy-cookie-policy" class="hover:underline">Privacy & Cookie Policy</a>
                        </li>
                        <li>
                            <a href="/info/terms-and-conditions" class="hover:underline">Termini &amp; Condizioni</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold  uppercase text-white">Possiamo aiutarti?</h2>
                    <ul class="text-gray-400">
                        <li class="mb-3">
                            <a href="/info/FAQ" class="hover:underline">Domande Frequenti</a>
                        </li>
                        <li class="mb-3">
                            <a href="/info/contacts" class="hover:underline">Contattaci</a>
                        </li>
                        <li class="mb-3"k>
                            <a href="/info/payment" class="hover:underline">Pagamento</a>
                        </li>
                        <li class="mb-3">
                            <a href="/info/shipping" class="hover:underline">Spedizione</a>
                        </li>
                        <li>
                            <a href="/info/returns-and-exchanges" class="hover:underline">Resi & Cambi</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold  uppercase text-white">Servizi Esclusivi</h2>
                    <ul class="text-gray-400">
                        <li>
                            <a href="/info/online-exclusive-services" class="hover:underline ">Servizi Online Esclusivi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6  sm:mx-auto border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex gap-2 sm:mb-0 mb-4">
                <img src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/if-visa-2593666_86609_50x50.png?v=1643199708" alt="visa logo icon" class="rounded-sm h-5">
                <img src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/1490135018-mastercard_82253_50x50.png?v=1643199912" alt="mastercard logo icon" class="rounded-sm h-5">
                <img src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/americanexpress_82060_50x50.png?v=1643200013" alt="american express logo icon" class="rounded-sm h-5 bg-white">
                <img src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/finance_apple_pay_icon_160746_480x480.png?v=1643200263" alt="apple pay logo icon" class="rounded-sm h-5">
            </div>
            <span class="text-sm sm:text-center text-gray-400">© Attuality Store P.IVA 15877431005 | Tutti i diritti riservati</span>
            <div class="flex flex-col gap-1 mt-4 sm:justify-center sm:mt-0">
                <div class="flex flex-col">
                    <p class="uppercase font-medium text-center text-14px text-white mb-1">SEGUICI</p>
                </div>
                <div class="flex gap-3">
                    <div class="flex flex-col justify-center">
                        <a target="_blank" href="https://www.facebook.com/Attuality.store" class="text-gray-500  hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" /></svg>
                        </a>
                    </div>
                    <div class="flex flex-col justify-center">
                        <a target="_blank" href="https://www.instagram.com/attuality.store/" class="text-gray-500 hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" /></svg>
                        </a>
                    </div>
                    <div class="flex flex-col justify-center">
                        <a target="_blank" href="https://www.tiktok.com/@attuality.store?lang=it-IT" class="text-gray-500 hover:text-white">
                            <svg class="w-4 h-5" viewBox="0 0 41 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M30.1451 0H22.0556V32.6956C22.0556 36.5913 18.9444 39.7913 15.0725 39.7913C11.2007 39.7913 8.08938 36.5913 8.08938 32.6956C8.08938 28.8696 11.1315 25.7391 14.8651 25.6V17.3913C6.63744 17.5304 0 24.2783 0 32.6956C0 41.1827 6.77571 48 15.1417 48C23.5075 48 30.2833 41.1131 30.2833 32.6956V15.9304C33.3255 18.1565 37.059 19.4783 41 19.5479V11.3391C34.9157 11.1304 30.1451 6.12173 30.1451 0Z" fill="currentColor"/>
                            </svg>                
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>