<div class="xl:px-desktop lg:px-laptop md:px-tablet px-mobile pb-4 lg:pb-5 bg-white pt-6">
  <div class="flex justify-center border-b border-secondaryDark">
    <p class="uppercase font-medium text-20px lg:pb-5 md:pb-4 pb-3">Perchè attualitystore?</p>
  </div>
  <div
    class="flex gap-5 flex-col sm:flex-row sm:gap-0 lg:pt-11 md:pt-8 pt-4 sm:justify-between xl:px-desktop lg:px-laptop md:px-tablet px-mobile mb-3">
    <div class="p-3">
      <img class="h-7 mx-auto" src="/footer/diamond.png" alt="diamond authenticity">
      <h6 class="font-medium mx-auto text-center">Autenticità</h6>
      <p class="mx-auto text-12px text-center">Tutti gli articoli su questo Sito Web sono autentici</p>
    </div>
    <div class="sm:flex flex-col justify-center hidden">
      <div style="width: 1px;" class="h-20 bg-secondaryDark"></div>
    </div>
    <div class="p-3">
      <img class="h-7 mx-auto" src="/footer/star.png" alt="star review">
      <h6 class="font-medium mx-auto text-center">Recensioni a 5 stelle su Trustpilot</h6>
      <div class="flex justify-center">
        <p class="text-12px  text-center">Sai che puoi fidarti di noi</p>
      </div>
    </div>
    <div class="sm:flex flex-col justify-center hidden">
      <div style="width: 1px;" class="h-20 bg-secondaryDark"></div>
    </div>
    <div class="p-3">
      <img class="h-7 mx-auto" src="/footer/delivery-status.png" alt="delivery status">
      <h6 class="font-medium mx-auto text-center">Spedizione Express in tutto il mondo</h6>
      <div class="flex justify-center">
        <p class="text-12px  text-center">Spediamo in tutto il mondo</p>
      </div>
    </div>
    <div class="sm:flex flex-col justify-center hidden">
      <div style="width: 1px;" class="h-20 bg-secondaryDark"></div>
    </div>
    <div class="p-3">
      <img class="h-7 mx-auto" src="/contacts/chatlive-icon.webp" alt="chat live">
      <h6 class="font-medium mx-auto text-center">Supporto Chat Live</h6>
      <div class="flex justify-center">
        <p class="text-12px  text-center">Chiedi sempre aiuto a noi</p>
      </div>
    </div>
  </div>
</div>