<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css" type="text/css">
</head>
<body class="bg-background flex flex-col min-h-screen font-main">

  <%- include('./partials/navbar') %> 
  <%- include('./partials/flash') %> 

  <main class="h-full flex flex-col justify-center mx-auto lg:mt-36 md:mt-20 mt-12">
    <h2 class="mx-auto text-96px text-black">404</h2>
    <p class="mx-auto text-20px text-black mb-24">We couldn't  find this page</p>
  </main>

  <%- include('./partials/footer') %>
  <%- include('./partials/navbar-end') %>  
</body>
</html>
