<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css" type="text/css"> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
</head>
<body 
class="bg-white flex flex-col min-h-screen font-main">

  <%- include('../partials/navbar') %>
  <%- include('../partials/flash') %> 

  <div class="flex flex-col justify-center h-full lg:mt-14 md:mt-12 mt-8 lg:mb-24 mb-20">
    <form class="lg:mt-8 md:mt-7 mt-6 lg:mb-24 mb-20 lg:w-400px md:w-330px w-280px mx-auto" action="/forgotpassword" method="POST">
      <div class="flex flex-col gap-2 md:mb-10 mb-6">
        <h1 class="lg:text-20px text-center text-16px font-semibold mx-auto">Hai dimenticato la tua password?</h1>
<<<<<<< HEAD
        <p class="text-16px mx-auto">Inserisci il tuo indirizzo e-mail e ti invieremo un link per reimpostare la password</p>
=======
        <p class="text-16px mx-auto text-center">Inserisci il tuo indirizzo e-mail e ti invieremo un link per reimpostare la password</p>
>>>>>>> 913306ade445f791f47b11b531a27c5d3d5d5233
      </div>
      <div class="relative z-0 w-full mb-2 group">
        <input type="email" name="email" maxlength="40" id="floating_email" class="block py-2 px-0 w-full text-16px text-black bg-transparent border-0 border-b-2 border-t-2 border-t-transparent border-b-black appearance-none focus:outline-none focus:ring-0 focus:border-b-primary peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
      </div>
      <div class="mb-5 flex justify-end">
        <a href="/login" class="hover:underline text-14px">Ricordi la tua password?</a>
      </div>
  
      <div class="flex justify-center">
        <button type="submit" class="bg-black border focus:ring-none focus:outline-none font-semibold mt-3 text-white lg:text-16px text-14px w-full lg:py-2 py-1.5 text-center">REIMPOSTA PASSWORD</button>
      </div>
  
    </form>
  </div>
    
  <%- include('../partials/footer') %>
  <%- include('../partials/navbar-end') %>

</body>
</html>
