<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-white flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %>
    <%- include('../partials/flash') %>

      <main class="h-auto">

        <div class="flex flex-col gap-8 lg:my-14 md:my-12 my-8">

          <h1 class="text-24px font-semibold text-center">Attuality Store</h1>
          <div class="flex flex-col gap-2">
            <p class="text-center mx-auto font-medium lg:max-w-4xl md:max-w-2xl max-w-330px">Un brand <b>influente</b> e progressista che ha come obiettivo principale quello di offrire un servizio di <b>ultima generazione.</b></p>
            <div class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px mt-4 leading-7 flex flex-col">
              <p>Attuality Store nasce a Roma, con lo scopo di rivoluzionare completamente l’approccio al lusso, ecco perché:</p>
              <p class="leading-9 mt-7">
                <b>·</b> Garantiamo un servizio <b>esclusivo</b> curato nei minimi dettagli;
                <br>
                <b>·</b> Abbiamo scelto una modalità d’acquisto più <b>semplice</b> ed <b>immediata</b> grazie all’assistenza 24/7 in
                chat live;
                <br>
                <b>·</b> <b>Selezioniamo</b> i capi più esclusivi di alta moda.
              </p>
              <p class="mt-7">Tutti i nostri <b>prodotti luxury</b> sono in esposizione nel nostro Show-Room di oltre 100 mq e ad oggi possediamo
              migliaia di
              clienti italiani ed esteri, proprio per espandere la nostra brand vision.</p>
              <p class="mt-5">Il nostro obiettivo è quello di soddisfare i nostri clienti sotto tutti i punti di vista, proprio perché siamo grandi
              amanti del lusso, vogliamo che il nostro <b>servizio</b> sia di <b>alto livello</b>.</p>
            </div>
          </div>

        </div>

      </main>

      <%- include('../partials/footer') %>
        <%- include('../partials/navbar-end') %>

</body>

</html>