<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-white flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %> 
  <%- include('../partials/flash') %> 

  <main class="h-auto">

    <div class="flex flex-col gap-12 lg:my-14 md:my-12 my-8">

      <h1 class="text-24px font-semibold text-center">Contattaci</h1>
      <div class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px flex flex-col gap-6 leading-7">
        Affidati al nostro supporto, siamo sempre qui a tua disposizione: risolveremo i tuoi problemi nella maniera più semplice e veloce.
        <p>Scegli tu in che modo contattarci:</p>
        <p><img src="/contacts/email-icon.webp" class="inline-block h-7" alt="email logo">&nbsp;&nbsp;&nbsp; attuality.store@gmail.com</p>
        <p><img src="/contacts/chatlive-icon.webp" class="inline-block h-7" alt="whatsapp logo">&nbsp;&nbsp;&nbsp; Supporto Chat Live</p>
        <p><img src="/contacts/whatsapp-icon.webp" class="inline-block h-7" alt="whatsapp logo">&nbsp;&nbsp;&nbsp; +39 389 5392915</p>
      </div>

    </div>

  </main>

  <%- include('../partials/footer') %> 
  <%- include('../partials/navbar-end') %>

</body>
</html>