<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-white flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %> 
  <%- include('../partials/flash') %> 

  <main class="h-auto">

    <div class="flex flex-col gap-12 lg:my-14 md:my-12 my-8">

      <h1 class="text-24px font-semibold text-center">Domande frequenti</h1>
      <div class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px flex flex-col gap-6">
        <p>1. <b>Il COVID-19 inciderà sul mio ordine?</b></p>
        Le massime priorità di Attuality Store sono la salute e il benessere dei nostri clienti e collaboratori, soprattutto dopo gli ultimi eventi legati allo sviluppo del coronavirus (COVID-19). I tempi di spedizione stimati per gli articoli disponibili sono di 1-2 giorni lavorativi sul territorio Nazionale e 3-4 per spedizioni Internazionali. Per la sicurezza dei nostri clienti e collaboratori stiamo lavorando con i corrieri per contenere la diffusione del COVID-19.
        I corrieri hanno temporaneamente sospeso la richiesta della firma alla consegna per la maggior parte degli ordini. 
        <p>2. <b>Che provenienza hanno i prodotti?</b></p>
        Gli articoli vengono da noi selezionati ed acquistati con regolare partita iva direttamente da aziende sul territorio Nazionale, le aziende stesse hanno tutte le autorizzazioni per svolgere tale vendita. Tutto ciò che acquistiamo viene accompagnato della propria regolare fattura.
        Parliamo quindi di soli articoli 100% autentici.
        <p>3. <b>Come individuo la mia taglia?</b></p>
        Ogni pagina prodotto presenta una "GUIDA ALLE TAGLIE" con indicazioni specifiche, per aiutarti a individuare la taglia più adatta a te, mentre se desideri informazioni più dettagliate riguardo alla vestibilità dei prodotti, troverai tutto all'interno della pagina stessa.
        <p>4. <b>Posso cambiare il mio indirizzo di spedizione?</b></p>
        <p>Se hai bisogno di modificare le informazioni di spedizione o consegna dopo aver effettuato l'ordine, ti preghiamo di <a
          href="/info/contacts" class="underline">Contattarci</a> appena possibile. Le informazioni di spedizione, incluso l'indirizzo di
        consegna, non possono essere modificate se l’ordine è già stato spedito.</p>
        <p>5. <b>Come posso tracciare il mio ordine?</b></p>
        Quando il tuo ordine sarà spedito, riceverai un’e-mail di conferma con un link per tracciarne lo stato tramite il corriere da noi utilizzato.
      </div>

    </div>

  </main>

  <%- include('../partials/footer') %> 
  <%- include('../partials/navbar-end') %>

</body>
</html>