<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-background flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %> 
  <%- include('../partials/flash') %> 

  <main class="h-auto">

    <div class="flex flex-col gap-4 lg:my-14 md:my-12 my-8">

      <h1 class="text-24px font-semibold text-center">Servizi Online Esclusivi</h1>
      <div class="flex flex-col gap-2">
        <p class="text-center mx-auto font-medium lg:max-w-4xl md:max-w-2xl max-w-330px">Da sempre rispettiamo i nostri prodotti, proprio per questo motivo<br>curiamo minuziosamente ogni capo:</p>
        <p class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px">
          Dal momento in cui viene ordinato dai nostri clienti fino alla sua spedizione.
          <br>
          Il nostro Brand Luxury rispecchia una cura estrema di ogni singolo dettaglio, ecco perché:
          <br>
          · Ogni nostro articolo viene controllato minuziosamente prima della sua spedizione.
          <br>
          · Stiriamo i nostri capi con la massima cura prima della consegna.
          <br>
          · Impacchettiamo accuratamente ogni singolo ordine prima che venga spedito.
        </p>
      </div>

    </div>

  </main>

  <%- include('../partials/footer') %> 
  <%- include('../partials/navbar-end') %>

</body>
</html>