<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-white flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %> 
  <%- include('../partials/flash') %> 

  <main class="h-auto">

    <div class="flex flex-col gap-12 lg:my-14 md:my-12 my-8">

      <h1 class="text-24px font-semibold text-center">Pagamento</h1>
      <div class="flex flex-col gap-6">
        <p class="text-center mx-auto text-18px font-medium lg:max-w-4xl md:max-w-2xl max-w-330px">Da sempre abbiamo l'obiettivo di <b>facilitare</b> e fornire il massimo della <b>sicurezza</b> <br> <b>d'acquisto</b> dei nostri clienti. </p>
        <div class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px flex flex-col gap-6">
          <p>Avrai anche a disposizione <b>tutte le modalità di pagamento.</b></p>
          Sarai tu a scegliere la modalità per te più adatta alle tue esigenze:

          <div style="display: flex; flex-direction: row; align-content: center; padding: 20px 0;">
            <div style="flex-grow: 6;">
              <!--Visa--> <span
                style="font-weight: 400; display: flex; flex-direction: row; align-content: center; align-items: center;"> <img
                  src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/if-visa-2593666_86609_50x50.png?v=1643199708" alt=""
                  style="margin: 0; width: 30px;"> <span style="margin: 0 0 0 15px;">Visa</span> </span>
              <!--Paypal--> 
              <!-- <span
                style="font-weight: 400; display: flex; flex-direction: row; align-content: center; align-items: center;"> <img
                  src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/Paypal-39_icon-icons.com_60555_50x50.png?v=1643199470"
                  alt="" style="margin: 0; width: 30px;"> <span style="margin: 0 0 0 15px;">PayPal </span> </span> -->
              <!--Applepay--> <span
                style="font-weight: 400; display: flex; flex-direction: row; align-content: center; align-items: center;"> <img
                  src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/finance_apple_pay_icon_160746_480x480.png?v=1643200263"
                  alt="" width="50px" style="margin: 0; width: 30px;"> <span style="margin: 0 0 0 15px;">Apple Pay</span> </span>
            </div>
            <div style="flex-grow: 6;">
              <!--Mastercard--> <span
                style="font-weight: 400; display: flex; flex-direction: row; align-content: center; align-items: center;"> <img
                  src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/1490135018-mastercard_82253_50x50.png?v=1643199912"
                  alt="" style="margin: 0; width: 30px;"> <span style="margin: 0 0 0 15px;">Mastercard </span> </span>
              <!--Americal express--> <span
                style="font-weight: 400; display: flex; flex-direction: row; align-content: center; align-items: center;"> <img
                  src="https://cdn.shopify.com/s/files/1/0531/9530/9224/files/americanexpress_82060_50x50.png?v=1643200013" alt=""
                  style="margin: 0; width: 30px;"> <span style="margin: 0 0 0 15px;">American Express</span> </span>
            </div>
          </div>
                  
          <p>In alternativa potrai scegliere di pagare direttamente alla consegna, <b>senza alcun costo aggiuntivo.</b></p>
        </div>
      </div>
    </div>

  </main>

  <%- include('../partials/footer') %> 
  <%- include('../partials/navbar-end') %>

</body>
</html>