<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-white flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %> 
  <%- include('../partials/flash') %> 

  <main class="h-auto">

    <div class="flex flex-col gap-4 lg:my-14 md:my-12 my-8">

      <h1 class="text-24px font-semibold text-center">Privacy e politica dei cookies</h1>
      <div class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px leading-7 flex flex-col gap-7">
        <p>La presente Informativa sulla privacy descrive come le vostre informazioni personali vengono raccolte, utilizzate e
        condivise quando visitate o effettuate un acquisto su <b>www.attualitystore.com</b>.</p>
        <p><b>INFORMAZIONI PERSONALI CHE COLLEZIONIAMO</b></p>
        <p>Quando visiti il ​​Sito, raccogliamo automaticamente alcune informazioni sul tuo dispositivo, incluse informazioni sul
        tuo browser web, indirizzo IP, fuso orario e alcuni dei cookie installati sul tuo dispositivo. Inoltre, mentre navighi
        sul Sito, raccogliamo informazioni sulle singole pagine web o sui prodotti che visualizzi, su quali siti web o termini
        di ricerca ti hanno indirizzato al Sito e su come interagisci con il Sito. Ci riferiamo a queste informazioni raccolte
        automaticamente come "Informazioni sul dispositivo".</p>
        <p>Raccogliamo informazioni sui dispositivi utilizzando le seguenti tecnologie:</p>
        <p>- I "cookie" sono file di dati che vengono inseriti sul dispositivo o sul computer e spesso includono un identificatore
        univoco anonimo. Per ulteriori informazioni sui cookie e su come disabilitare i cookie, visitare
        http://www.allaboutcookies.org.</p>
        <p>- "File di registro" tiene traccia delle azioni che si verificano sul sito e raccoglie dati tra cui indirizzo IP, tipo
        di browser, provider di servizi Internet, pagine di riferimento / uscita e timbri di data / ora.</p>
        <p>- "Web beacons", "tags" e "pixels" sono file elettronici utilizzati per registrare informazioni su come si esplora il
        sito.</p>
        <p>Inoltre, quando effettui un acquisto o tenti di effettuare un acquisto tramite il Sito, raccogliamo alcune informazioni
        da te, tra cui nome, indirizzo di fatturazione, indirizzo di spedizione, informazioni di pagamento (inclusi i numeri di
        carta di credito / debito utilizzati), indirizzo email e numero di telefono. Ci riferiamo a queste informazioni come
        "Informazioni sull'Ordine".</p>
        <p>Quando parliamo di "Informazioni personali" in questa Informativa sulla privacy, stiamo parlando sia di Informazioni del
        dispositivo che di informazioni sull'ordine.</p>
        <p>Utilizzando il nostro sito web, l'utente (il visitatore) accetta di consentire a terzi di elaborare il suo indirizzo IP,
        al fine di determinare la sua posizione ai fini della conversione valutaria. L'utente accetta inoltre di far memorizzare
        tale valuta in un cookie di sessione nel suo browser (un cookie temporaneo che viene automaticamente rimosso alla
        chiusura del browser). Lo facciamo in modo che la valuta selezionata rimanga selezionata e coerente durante la
        navigazione nel nostro sito web, in modo che i prezzi possano essere convertiti nella vostra (il visitatore) valuta
        locale.</p>
        <p><b>COME USIAMO LE TUE INFORMAZIONI PERSONALI?</b></p>
        <p>Usiamo le Informazioni sull'Ordine che raccogliamo in genere per soddisfare qualsiasi ordine effettuato attraverso il
        Sito (incluso l'elaborazione delle informazioni di pagamento, l'organizzazione della spedizione e la fornitura di
        fatture e / o conferme d'ordine). Inoltre, utilizziamo queste informazioni sull'ordine per:</p>
        <p>- Comunicare con te;</p>
        <p>- Esaminare i nostri ordini per potenziali rischi o frodi; e</p>
        <p>- Quando è in linea con le preferenze che hai condiviso con noi, fornirti informazioni o pubblicità relative ai nostri
        prodotti o servizi.</p>
        <p>Utilizziamo le Informazioni sul dispositivo che raccogliamo per aiutarci a individuare potenziali rischi e frodi (in
        particolare il vostro indirizzo IP) e, più in generale, a migliorare e ottimizzare il nostro Sito (ad esempio, generando
        analisi su come i nostri clienti navigano e interagiscono con il sito e per valutare il successo delle nostre campagne
        di marketing e pubblicitarie).</p>
        <p><b>CONDIVISIONE DELLE INFORMAZIONI PERSONALI</b></p>
        <p>Condividiamo le vostre informazioni personali con terze parti per aiutarci a utilizzare le vostre informazioni
        personali, come descritto sopra. Ad esempio, usiamo Shopify per evolvere il nostro negozio online: puoi leggere
        ulteriori informazioni su come Shopify utilizza le tue informazioni personali qui:
        https://www.shopify.com/legal/privacy. Utilizziamo inoltre Google Analytics per aiutarci a capire in che modo i nostri
        clienti utilizzano il sito: puoi leggere ulteriori informazioni su come Google utilizza le tue informazioni personali
        qui: https://www.google.com/intl/en/policies/privacy/. Puoi anche scegliere di disattivare Google Analytics qui:
        https://tools.google.com/dlpage/gaoptout.</p>
        <p>Infine, potremmo anche condividere le vostre informazioni personali per rispettare le leggi e i regolamenti applicabili,
        per rispondere a una citazione, un mandato di perquisizione o altra richiesta legittima di informazioni che riceviamo o
        per proteggere altrimenti i nostri diritti.</p>
        <p><b>PUBBLICITÀ DEI COMPORTAMENTI</b></p>
        <p>Come descritto sopra, utilizziamo le tue informazioni personali per fornirti pubblicità mirate o comunicazioni di
        marketing che riteniamo possano interessarti. Per ulteriori informazioni su come funziona la pubblicità mirata, puoi
        visitare la pagina educativa della Network Advertising Initiative ("NAI") all'indirizzo
        http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.</p>
        <p>Puoi disattivare la pubblicità mirata utilizzando i seguenti link:</p>
        <p>- Facebook: https://www.facebook.com/settings/?tab=ads</p>
        <p>- Google: https://www.google.com/settings/ads/anonymous</p>
        <p>- Bing: https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads</p>
        <p>Inoltre, puoi disattivare alcuni di questi servizi visitando il portale di opt-out di Digital Advertising Alliance
        all'indirizzo: http://optout.aboutads.info/.</p>
        <p><b>SMS MARKETING E NOTIFICHE</b></p>
        <p>Apprezziamo la tua privacy e le informazioni che acconsenti a condividere in relazione al nostro servizio di marketing
        via SMS. Utilizziamo queste informazioni per inviarti notifiche di testo (per il tuo ordine, inclusi promemoria per il
        check-out abbandonato), offerte di marketing di testo e testi transazionali, comprese le nostre richieste di recensioni.</p>
        <p>Il nostro sito Web utilizza i cookie per tenere traccia degli articoli che hai inserito nel carrello, anche quando hai
        abbandonato il checkout. Queste informazioni vengono utilizzate per determinare quando inviare messaggi di promemoria
        del carrello tramite SMS.</p>
        <p><b>NON TRACCIARE</b></p>
        <p>Si prega di notare che non alteriamo la raccolta dei dati del nostro sito e le pratiche di utilizzo quando vediamo un
        segnale “Do Not Track” dal browser.</p>
        <p><b>I TUOI DIRITTI</b></p>
        <p>Se sei residente in Europa, hai il diritto di accedere alle informazioni personali che deteniamo su di te e di chiedere
        che le tue informazioni personali siano corrette, aggiornate o cancellate. Se si desidera esercitare questo diritto, si
        prega di contattarci attraverso le informazioni di contatto qui sotto.</p>
        <p>Inoltre, se sei residente in Europa, nota che stiamo elaborando le tue informazioni al fine di adempiere ai contratti
        che potremmo avere con te (ad esempio se fai un ordine attraverso il Sito), o comunque per perseguire i nostri legittimi
        interessi commerciali sopra elencati. Inoltre, tieni presente che i tuoi dati verranno trasferiti al di fuori
        dell'Europa, inclusi Canada e Stati Uniti.</p>
        <p><b>CONSERVAZIONE DEI DATI</b></p>
        <p>Quando effettui un ordine attraverso il Sito, manterremo le informazioni sull'Ordine per i nostri archivi a meno che e
        fino a quando non ci chiedi di eliminare queste informazioni.</p>
        <p><b>I CAMBIAMENTI</b></p>
        <p>Potremmo aggiornare la presente informativa sulla privacy di volta in volta al fine di riflettere, ad esempio, modifiche
        alle nostre pratiche o per altri motivi operativi, legali o normativi.</p>
        <p><b>MINORI</b></p>
        <p>Il sito non è destinato a persone di età inferiore ai 18 anni.</p>
        <p><b>CONTATTACI</b></p>
        <p>Per ulteriori informazioni sulle nostre pratiche sulla privacy, se avete domande, o se volete fare un reclamo, vi
        preghiamo di contattarci via e-mail a <b>info.attualitystore@gmail.com</b> e cercheremo di rispondervi nel minor tempo possibile.</p>
      </div>

    </div>

  </main>

  <%- include('../partials/footer') %> 
  <%- include('../partials/navbar-end') %>

</body>
</html>