<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-white flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %> 
  <%- include('../partials/flash') %> 

  <main class="h-auto">

    <div class="flex flex-col gap-12 lg:my-14 md:my-12 my-8">

      <h1 class="text-24px font-semibold text-center">Reso & Cambi</h1>
      <div class="flex flex-col gap-2">
        <p class="text-center mx-auto lg:max-w-4xl text-18px font-semibold md:max-w-2xl max-w-330px">Reso</p>
        <div class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px mb-8 flex flex-col gap-6 mt-4">
          <p>Qualora l’articolo spedito arrivi accidentalmente con <b>imperfezioni</b>, si avranno a disposizione <b>14 giorni</b> dalla consegna
          del pacco per il reso.</p>
          <p>Per avere un riscontro immediato contattaci nella modalità che preferisci: Chat Live, Whatsapp, Instagram, Facebook o
          tramite e-mail.</p>
          <p>Dopodiché basterà attendere le stesse tempistiche della spedizione indicate, 24/48 ore sul territorio italiano oppure 3
          o 4 giorni lavorativi nel caso in cui i nostri clienti siano internazionali.</p>
          <p>Se si vorrà procedere con esso, noi di Attuality Store, dovremo ricevere indietro l’articolo nelle stesse condizioni in
          cui è stato spedito al vostro indirizzo, dopodiché effettueremo un <b>verificato</b> sull’articolo confermando se presenta ciò
          che il cliente ha realmente descritto.</p>
          <p>Nel caso vi siano effettivamente dei difetti si procederà al <b>completo rimborso</b> nell’arco delle prossime 24 ore dopo la
          verifica.</p>
        </div>
        <p class="text-center mx-auto font-semibold text-18px lg:max-w-4xl md:max-w-2xl max-w-330px">Cambio</p>
        <div class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px mb-3 flex flex-col gap-6 mt-4">
          <p>Per il cambio le tempistiche saranno equivalenti a quelle del reso, ossia <b>14 giorni</b> dalla consegna.</p>
          <p>Nell’arco di queste due settimane potrai contattarci solo se ci sarà bisogno di un <b>cambio taglia.</b></p>
          <p>Ad esempio potrai cambiare il capo o l’accessorio nel caso in cui ci dovesse esserci un errore nella selezione
          dell’articolo sbagliato o nella taglia.</p>
          <p>Successivamente si verificherà (non appena avremo ricevuto nuovamente il prodotto) che non sia stato utilizzato ma solo
          provato.</p>
          <p>Dopodiché <b>si procederà</b> con il cambio taglia o con il cambio del modello nel caso in cui la taglia dell’articolo
          acquistato non sia più disponibile.</p>
          <p><i>*Consulta le misurazioni in cm di spalle e busto.</i></p>
        </div>
      </div>

    </div>

  </main>

  <%- include('../partials/footer') %> 
  <%- include('../partials/navbar-end') %>

</body>
</html>