<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-background flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %> 
  <%- include('../partials/flash') %> 

  <main class="h-auto">

    <div class="flex flex-col gap-4 lg:my-14 md:my-12 my-8">

      <h1 class="text-24px font-semibold text-center">Spedizione</h1>
      <div class="flex flex-col gap-2">
        <p class="text-center mx-auto font-medium lg:max-w-4xl md:max-w-2xl max-w-330px">Un aspetto fondamentale per noi di Attuality Store è la modalità di <br> spedizione. <br> Come lo facciamo?</p>
        <p class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px">
          Operiamo con DHL, una delle compagnie di spedizioni più sicure ed efficaci utilizzata a livello internazionale. 
          <br>
          Per le spedizioni sul territorio nazionale si impiega un tempo di consegna di 24/48 ore, mentre per le spedizioni internazionali 3/4 giorni lavorativi. (Le tempistiche potrebbero variare sia in base alle emergenze Covid-19 di questo periodo che per l’afflusso di acquisti dal nostro negozio.)
          <br>
          Il pacco potrà essere monitorato in qualsiasi momento tramite il sito ufficiale di DHL. clicca qui
          <br>
          Non appena il corriere starà per consegnare l’ordine riceverai una chiamata di preavviso.
        </p>
      </div>

    </div>

  </main>

  <%- include('../partials/footer') %> 
  <%- include('../partials/navbar-end') %>

</body>
</html>