<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-white flex flex-col min-h-screen font-main">
  <%- include('../partials/navbar') %> 
  <%- include('../partials/flash') %> 

  <main class="h-auto">

    <div class="flex flex-col gap-12 lg:my-14 md:my-12 my-8">

      <h1 class="text-24px font-semibold text-center">Termini & Condizioni</h1>
      <p class="text-center mx-auto font-medium lg:max-w-4xl md:max-w-2xl max-w-330px my-2">Si prega di leggere attentamente i seguenti termini poiché l'uso del Sito Web <a href="/" class="'underline">www.attualitystore.com</a> significa che li accetti. </p>
      <div class="lg:max-w-4xl md:max-w-2xl max-w-330px mx-auto lg:text-16px text-14px flex flex-col gap-6">
        <p>1. <b>Utilizzo di questo sito</b></p>
        I diritti su design, immagini, loghi, fotografie e contenuti di questo Sito Web sono di proprietà o concessi in licenza a Attuality Store. Sono protetti da copyright, marchi e altri diritti di proprietà intellettuale. Non è consentito copiare, riprodurre, modificare, distribuire, ripubblicare, visualizzare, pubblicare o trasmettere qualsiasi parte di questo Sito Web senza il permesso scritto di Attuality Store. È possibile visualizzare o stampare singole pagine solo per uso personale.
        
        <p>2. <b>Responsabilità</b></p>
        <p>Cerchiamo di garantire l'accuratezza di tutti i contenuti. Tuttavia, non ci assumiamo alcuna responsabilità per l'uso da parte tua del contenuto. Il contenuto di questo Sito deve essere utilizzato solo a scopo informativo e non dovresti fare affidamento su di esso per prendere (o astenersi dal prendere) qualsiasi decisione o intraprendere (o astenersi dall'intraprendere) qualsiasi azione.</p>
        <p>il Sito è per uso personale e non deve essere utilizzato per scopi commerciali. Di conseguenza, Attuality Store non sarà responsabile in nessun caso per la tua perdita di profitti. Attuality Store non sarà inoltre responsabile per eventuali perdite, comprese spese sprecate, danneggiamento o distruzione di dati a meno che la perdita non derivi da qualcosa di sbagliato da parte di Attuality Store.</p>
        <p>Attuality Store non è responsabile per eventuali danni o perdite derivanti dall'impossibilità di utilizzare questo Sito Web. Attuality Store non può promettere che questo Sito Web sarà ininterrotto o completamente privo di errori. A causa della natura di Internet, il Sito viene fornito "come disponibile". Attuality Store non sarà responsabile nei tuoi confronti se non siamo in grado di fornire il Sito Web per qualsiasi motivo al di fuori del nostro controllo.</p>

        <p>3. <b>Contenuti e pubblicità</b></p>
        Questo Sito Web fornisce anche collegamenti e contenuti da altri siti Internet e risorse. Poiché Attuality Store non ha alcun controllo su questi Siti e risorse, riconosci e accetti che Attuality Store non è responsabile per la disponibilità di questi Siti o risorse esterni e non approva e non è responsabile per alcun contenuto, prodotto pubblicitario, servizio o altro materiale su o disponibile da questi siti o risorse.
        
        <p>4. <b>Protezione dei dati e privacy</b></p>
        <p>Tutti i dettagli che ci fornisci dai quali possiamo identificarti sono conservati ed elaborati in conformità con la nostra politica sulla privacy.</p>
        
        <p>5. <b>Modifiche ai termini</b></p>
        Attuality Store può modificare il Sito Web o questi termini in qualsiasi momento. Se utilizzi il Sito Web dopo che Attuality Store ha modificato i termini, sarai vincolato dai nuovi termini.

        <p>6. <b>Legge applicabile e giurisdizione</b></p>
        Questi termini e l'utilizzo di questo Sito da parte dell'utente sono regolati e interpretati in conformità con le leggi dell'Italia e qualsiasi controversia sarà decisa solo dai tribunali Italiani.

        <p>5. <b>Merci</b></p>     
        Attuality Store non vende beni o servizi proibiti dalla CCA.
      </div>

    </div>

  </main>

  <%- include('../partials/footer') %> 
  <%- include('../partials/navbar-end') %>

</body>
</html>